
node_modules/
.pnp
.pnp.js


dist/
build/
.firebase/
*.local


.env
.env.local
.env.*.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log


.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.DS_Store
Thumbs.db


.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log


cors.json